<ion-content>
  
       
  <ion-card id="card" >
    <img id="img1" src="assets/icon/globe,travel location,trek location,location,map,navigation,gps,direction,young,transport,man,global,vacation,lifestyle,child,tourism,summer,adventure,travel,activity,holiday,1737292.png" />
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>  </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>

        <ion-label>
          publié le  à  
                </ion-label>
                <ion-icon name="calendar-outline"></ion-icon>

      </ion-item>
      <ion-item>

        <ion-label>
      
                </ion-label>
                <ion-icon name="locate-outline"></ion-icon>                
        

      </ion-item>
      <ion-item>

        <ion-label>
        </ion-label>
                <ion-icon name="location-outline"></ion-icon>        

      </ion-item>
      <ion-item> 
      </ion-item>
      <ion-list style="text-align:center">

  
        <ion-button color="secondary"  >Consuler les passagers</ion-button>
        </ion-list>
      </ion-card-content>
      </ion-card>  
      </ion-content>
  