<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img id="img1" src="assets/icon/flamenco-your-driver-is-here.png" >

  <form [formGroup]="fReg">
   
    <ion-item lines="full">
      <ion-label position="floating" >Nom d'utilisateur</ion-label>
      <ion-input type="text" formControlName="userName"></ion-input>
      <div id="error" *ngIf="this.fReg.get('userName').hasError('minlength') && this.fReg.get('userName').touched" > le Nom d'utlisateur doit être de 8 caractères minimum </div>
    
      <div id="error" *ngIf="this.fReg.get('userName').hasError('required') && this.fReg.get('userName').touched" >Remplir le champ </div>
    </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" >Prenom</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
       
        <div id="error" *ngIf="this.fReg.get('firstName').hasError('required') && this.fReg.get('firstName').touched" >Remplir le champ </div>
      </ion-item>
      <ion-item lines="full">

        <ion-label position="floating" >Nom</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
        <div id="error" *ngIf="this.fReg.get('lastName').hasError('required') && this.fReg.get('lastName').touched" >Remplir le champ </div>

    </ion-item>
    <ion-item lines="full" >
      <ion-label>Sexe</ion-label>
      <ion-select placeholder="Select One" formControlName="sexe">
        <ion-select-option value="homme">Homme</ion-select-option>
        <ion-select-option value="femme">Femme</ion-select-option>
      </ion-select>
      <div id="error" *ngIf="this.fReg.get('sexe').hasError('required') && this.fReg.get('sexe').touched" >Remplir le champ </div>

    </ion-item>
  
    <ion-item lines="full">

      <ion-label position="floating" >Numero de Telephone</ion-label>
      <ion-input type="text" formControlName="phoneNumber"></ion-input>
      <div id="error" *ngIf="this.fReg.get('phoneNumber').hasError('required') && this.fReg.get('phoneNumber').touched" >Remplir le champ </div>

      <div id="error" *ngIf="this.fReg.get('phoneNumber').hasError('pattern') && this.fReg.get('phoneNumber').touched" >vérifier votre Numero </div>

  </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
      <div id="error" *ngIf="this.fReg.get('password').hasError('required') && this.fReg.get('password').touched" >remplir le champ </div>
      <div id="error" *ngIf="this.fReg.get('password').hasError('minlength') && this.fReg.get('password').touched" >le Mot de passe  doit être de 8 caractères minimum </div>

    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmer Mot de passe</ion-label>
      <ion-input type="password"  formControlName="confPassword"></ion-input>
      <div id="error" *ngIf="this.fReg.get('confPassword').hasError('required') && this.fReg.get('confPassword').touched" >Remplir le champ </div>
      <div id="error" *ngIf="this.fReg.get('confPassword').hasError('confirmedValidator') && this.fReg.get('confPassword').touched" >Le mot de passe et la confirmation du mot de passe doivent correspondre </div>

    </ion-item>
    <ion-item lines="full">

      <ion-label position="floating" >Marque de voiture </ion-label>
      <ion-input type="text" formControlName="vMarque"></ion-input>
      <div id="error" *ngIf="this.fReg.get('vMarque').hasError('required') && this.fReg.get('vMarque').touched" >Remplir le champ</div>

  </ion-item>




    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block" (click)="register()">Inscription </ion-button>
        <ion-button type="submit" color="danger" expand="block"  [routerLink]= "['/login']" >Annuler</ion-button>

<div style="text-align: center;">
        <a [routerLink]="['/forgot-password']" class="small-text"></a>
      </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
